body{
  margin: 0px;
  background-color: white;
  padding: 1%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bg{
  height: 300px;
  width: 100%;
  background-color:white;
  /* border: 5px solid black; */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 20px 30px #2fa84f;
}
img{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main{
  margin: 0px;
  height: 300px;
  width: 500px;
  padding: 10px;
  background-color: transparent;
  
  position: absolute;
  top: 20%;
  left: 35%;

  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#title{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px; 
}
#title>button{
  height: 30px;
  width: 90px;
  padding: 5px;
  color: white;
  background-color: #367bf5;
  border: 1px solid #367bf5;
  border-radius: 3rem;
}
#list{
  background-color: aliceblue;
  margin: 0px;
  box-shadow: 2px 3px 40px 2px gray;
  padding: 20px;
  border-radius: 20px;
}
.pri{
  width: 30px;
  height: 20px;
  border: none;
}
.row{
  /* background-color: yellow; */
  border-bottom: 4px solid black;
}
.row>td{
  padding: 14px;
}
dl{
 display: flex;
 flex-direction: column;
 justify-content: space-between; 
}
.pri{
  border-radius: 50%;
}

.bin{
  background-color: transparent;
  border: none;
  color: #ea3d2f;
}

/* pop_up */

.popup{
  height: 100vh;
  width: 100vw;

  /* used in JS */
  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  background-color: transparent;
}

#pop_box{
  height: 300px;
  width: 300px;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 2px 3px 40px 2px gray; 
  /* check later the shadow */
}

.user{
  background-color: #c79cecac;
  border-color: #d2a2fc;
  border-radius: 45px;
  padding: 6px;
  width: 90%;
}

textarea{
  resize: none;
  padding: 10px;
}
#save{
  display: flex;
  justify-content: center;
}
#save>button{
  margin: 6px;
  width: 100px;
  height: 50px;
  background-color: #367bf5;
  border-radius:46%;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: larger;
}